[Unit]
Description=BGP Looking Glass Flask Application
After=network.target

[Service]
User=bgplookingglass
Group=bgplookingglass
WorkingDirectory=/opt/bgplookingglass
Environment="PATH=/opt/bgplookingglass/venv/bin"
Environment="FLASK_ENV=production"
ExecStart=/opt/bgplookingglass/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 wsgi:app
Restart=always
RestartSec=5
SyslogIdentifier=bgplookingglass
TimeoutStartSec=300
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
